<p>Hey {{ name }},</p>
<p>We recibe a request to reset your password. Click on the link below and you will be redirected to the web app</p>
<p>
    <a href="{{ url }}">{{url}}</a>
</p>
<p>If you did not request this email you can safely ignore it. Suport Team.</p>
<p>*This email was generatered automatically for the login app. </p>
<p>If you wish watch the source code please visit https://github.com/santifonzalida/app-login</p>